<ion-view title="Landing" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" ui-sref="tabsController.forum()">
        <img src="img/iDvIftGSCWbmYORVluLP_download.png" style="display: block; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" ui-sref="tabsController.funding()">
        <img src="img/BW0MNx3LQtmPNz7kVNEe_download1.png" style="display: block; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" ui-sref="tabsController.mentorship()">
        <img src="img/deuRsI7WRneQ2BgF19Mu_download1.jpeg" style="display: block; width: 100%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>